$desaturated-gray: #7f85a3;
$dark-blue: #82aaff;
$sky-blue: #56c9ff;
$cyan: #86e1fc;
$red: #ff757f;
$dark-red: #ff5370;
$light-red: #ff98a4;
$yellow: #ffc777;
$orange: #ff966c;
$dark-orange:#fc7b7b;
$teal:#4fd6be;
$green:#c3e88d;
$purple:#c597f9;
$pink:#f7a4ec;
$indigo:#7a88cf;
$bright-cyan:#b4f9f8;
$gray-1: #131421;
$gray-2: #191a2a;
$gray-3: #1e2030;
$gray-4: #222436;
$gray-5: #2f334d;
$gray-6: #4d5482;
$gray-7: #828bb8;
$gray-8: #a9b8e8;
$gray-9: #b4c2f0;
$gray-10: #c8d3f5;
