/* ==UserStyle==
@name         Persuit Moonlight
@namespace    github.com/brettm12345/persuit-moonlight
@version      0.0.1
@description  A dark theme for the persuit purescript documentation
@author       brettm12345
@homepageURL  https://github.com/brettm12345/persuit-moonlight
@supportURL   https://github.com/brettm12345/persuit-moonlight/issues
@updateURL    https://github.com/brettm12345/persuit-moonlight/raw/master/persuit.user.styl
@preprocessor stylus

@var text     $uiFont         "Custom UI font" "font_name"
@var text     $monospaceFont  "Custom monospace font" "JetBrains Mono"
==/UserStyle== */

@-moz-document domain("persuit.purescript.org")
  $desaturatedGray = $desaturatedGray
  $darkBlue = $darkBlue
  $skyBlue = $skyBlue
  $cyan = $cyan
  $red = $red
  $darkRed = $darkRed
  $lightRed = $lightRed
  $yellow = $yellow
  $orange = $orange
  $darkOrange = $darkOrange
  $teal = $teal
  $green = $green
  $purple = $purple
  $pink = $pink
  $indigo = $indigo
  $brightCyan = $brightCyan
  $white = $white
  $gray1 = $gray1
  $gray2 = $gray2
  $gray3 = $gray3
  $gray4 = $gray4
  $gray5 = $gray5
  $gray6 = $gray6
  $gray7 = $gray7
  $gray8 = $gray8
  $gray9 = $gray9
  $fg = $fg

 body
    font-family sans-serif
    color $gray9
    background-color $gray4

  :target
    background-color $gray4

  ::selection
    color $white
    background-color $teal

  table, td
    border-color $gray2

  hr
    background-color rgba($gray1, 10%)

  a, a:visited
    &:hover
      color lighten($darkBlue, 1.28%)
    &, &:hover > code
      color $darkBlue

  .decl__body
    .keyword, .syntax
      color $purple
    .message.message--not-available
      border-color $darkRed
      color $white
      background-color $darkRed
    .top-banner
      background-color $gray3
      &__actions__item a:hover, &__logo:hover
        color $darkBlue
    .footer
      background-color $gray3
      p
        color lighten($gray6, 5%)
      .deplink__version
        font-weight 500
        color $darkOrange
      .page-title__label
        color $gray-8
      .grouped-list
        border-top basis(0.125) solid $gray1
        &__title
          font-weight 400
          color $gray8

  .result__signature
    padding 0.5rem
    border 1 solid $gray2
    background-color $gray3

  ul
    color $gray9
    list-style-type disc
    li
      padding-left 0
      &::before
        content ""

  #search-input, select#hident2
    background-color $gray2

  #search-input
    color $fg
    &::placeholder
      color $gray6

  select#hident2
    padding 0.3rem
    border none
    outline none

  .badge.badge--
    &package background-color
      $pink
    &module background-color
      $darkOrange

  code,pre
    :target &
      background-color $gray2
    background-color $gray3
    color $gray8
    font-weight 500
    font-family $monospaceFont, monospace

  .ctor
    color $yellow

  .decl__
    &anchor
      &, &:visited
        color $gray8
      &:hover color
        lighten($darkBlue, 1.28%)
    &signature, :target &signature
      padding 8rem
      font-weight 500
      border 1 solid $gray1
      background-color $gray2

  .markdown-body
    blockquote
      border-color $gray2
      color $gray8
    .pl-
      &k
        color $purple
      &c1
        color $orange
      &en
        color $yellow
      &s
        color $green
      &en
        color $red
      &smi
        color $gray9
