/* ==UserStyle==
@name Persuit Moonlight
@namespace    github.com/openstyles/stylus
@version      1.0.0
@license      unlicense
@var text  monospaceFont "Monospace font" "JetBrains Mono"
@preprocessor   stylus
==/UserStyle== */

bg(c)
  background-color c
fg(c)
  color c
bc(c)
  border-color c

$monospaceFont = monospaceFont
$desaturatedGray = #7f85a3
$darkBlue = #82aaff
$skyBlue = #56c9ff
$cyan = #86e1fc
$red = #ff757f
$darkRed = #ff5370
$lightRed = #ff98a4
$yellow = #ffc777
$orange = #ff966c
$darkOrange =#fc7b7b
$teal =#4fd6be
$green =#c3e88d
$purple =#c597f9
$pink =#f7a4ec
$indigo =#7a88cf
$brightCyan =#b4f9f8
$white = #fff
$gray1 = #131421
$gray2 = #191a2a
$gray3 = #1e2030
$gray4 = #222436
$gray5 = #2f334d
$gray6 = #4d5482
$gray7 = #828bb8
$gray8 = #a9b8e8
$gray9 = #b4c2f0
$fg = #c8d3f5

@-moz-document domain("persuit.purescript.org")
  body
    font-family sans-serif
    color $gray9
    background-color $gray4

  :target
    background-color $gray4

  ::selection
    color $white
    background-color $teal

  table, td
    border-color $gray2

  hr { bg: rgba($gray1, 10%) }

  a, a:visited
    &:hover { fg: lighten($darkBlue, 1.28%) }
    &, &:hover > code { fg: $darkBlue }

  .decl__body
    .keyword, .syntax { fg: $purple }
    .message.message--not-available
      border-color $darkRed
      color $white
      background-color $darkRed
    .top-banner
      &__actions__item a:hover, &__logo:hover { fg: $darkBlue }
      background-color $gray3
    .footer
      background-color $gray3
      p { fg: lighten($gray6, 5%) }
      .deplink__version
        font-weight 500
        color $darkOrange
      .page-title__label { fg: $gray8 }
      .grouped-list
        border-top basis(0.125) solid $gray1
        &__title
          font-weight 400
          color $gray8

  .result__signature
    padding 0.5rem
    border 1 solid $gray2
    background-color $gray3

  ul
    color $gray9
    list-style-type disc
    li
      padding-left 0
      &::before
        content ""

  #search-input, select#hident2 { bg: $gray2 }
  #search-input
    color $fg
    &::placeholder { fg: $gray6 }

  select#hident2
    padding 0.3rem
    border none
    outline none

  .badge.badge--
    &package { bg: $pink }
    &module { bg: $darkOrange }

  code,pre
    :target & { bg: $gray2 }
    background-color $gray3
    color $gray8
    font-weight 500
    font-family $monospaceFont, monospace

  .ctor { fg: $yellow }

  .decl__
    &anchor
      &, &:visited { fg: $gray8 }
      &:hover { fg: lighten($darkBlue, 1.28%) }
    &signature, :target &signature
      padding 8rem
      font-weight 500
      border 1 solid $gray1
      background-color $gray2

  .markdown-body
    blockquote
      border-color $gray2
      color $gray8

    .pl-
      &k { fg: $purple }
      &c1 { fg: $orange }
      &en { fg: $yellow }
      &s { fg: $green }
      &ent { fg: $red }
      &smi { fg: $gray9 }