ul {
  list-style-type: disc;
  color: #b4c2f0;
}
ul li {
  padding-left: 0;
}
ul li::before {
  content: "";
}
body {
  background-color: #222436;
  color: #b4c2f0;
  font-family: sans-serif;
}
:target {
  background-color: #222436;
}
::selection {
  background-color: #4fd6be;
  color: #fff;
}
table,
td {
  border-color: #191a2a;
}
hr {
  background-color: rgba(19,20,33,0.1);
}
a:hover,
a:visited:hover {
  color: #84abff;
}
a,
a:visited,
a:hover > code,
a:visited:hover > code {
  color: #82aaff;
}
.decl__body .keyword,
.decl__body .syntax {
  color: #c597f9;
}
.decl__body .message.message--not-available {
  border-color: #ff5370;
  background-color: #ff5370;
  color: #fff;
}
.decl__body .top-banner {
  background-color: #1e2030;
}
.decl__body .top-banner__actions__item a:hover,
.decl__body .top-banner__logo:hover {
  color: #82aaff;
}
.decl__body .footer {
  background-color: #1e2030;
}
.decl__body .footer p {
  color: #535a8c;
}
.decl__body .footer .deplink__version {
  color: #fc7b7b;
  font-weight: 500;
}
.decl__body .footer .page-title__label {
  color: #a9b8e8;
}
.decl__body .footer .grouped-list {
  border-top: 1px solid #131421;
}
.decl__body .footer .grouped-list__title {
  color: #a9b8e8;
  font-weight: 400;
}
code,
pre {
  background-color: #1e2030;
  color: #a9b8e8;
  font-weight: 500;
  font-family: "JetBrains Mono", monospace;
}
:target code,
:target pre {
  background-color: #191a2a;
}
.ctor {
  color: #ffc777;
}
.decl__anchor,
.decl__anchor:visited {
  color: #a9b8e8;
}
.decl__anchor:hover {
  color: #84abff;
}
.decl__signature,
:target .decl__signature {
  border: 1px solid #131421;
  font-weight: 500;
  background-color: #191a2a;
  padding: 0.8rem;
}
.decl__signaturek,
:target .decl__signaturek {
  color: #c597f9;
}
.decl__signaturec1,
:target .decl__signaturec1 {
  color: #ff966c;
}
.decl__signatureen,
:target .decl__signatureen {
  color: #ffc777;
}
.decl__signatures,
:target .decl__signatures {
  color: #c3e88d;
}
.decl__signatureent,
:target .decl__signatureent {
  color: #ff757f;
}
.decl__signaturesmi,
:target .decl__signaturesmi {
  color: #b4c2f0;
}
.badge.badge--package {
  background-color: #f7a4ec;
}
.badge.badge--module {
  background-color: #fc7b7b;
}
#search-input {
  background-color: #191a2a;
  color: #c8d3f5;
}
#search-input::placeholder {
  color: #4d5482;
}
select#hident2 {
  background-color: #191a2a;
  border: none;
  padding: 0.3rem;
  outline: none;
}
.result__signature {
  background-color: #1e2030;
  border: 1px solid #191a2a;
  padding: 0.5rem;
}
