/* ==UserStyle==
@name         Persuit Moonlight
@namespace    github.com/brettm12345/persuit-moonlight
@version      0.0.1
@license     unlicense
@description  A dark theme for the persuit purescript documentation
@author       brettm12345
@homepageURL  https://github.com/brettm12345/persuit-moonlight
@supportURL   https://github.com/brettm12345/persuit-moonlight/issues
@updateURL    https://github.com/brettm12345/persuit-moonlight/raw/master/persuit.user.styl
@preprocessor stylus

@var text     $uiFont         "Custom UI font" "font_name"
@var text     $monospaceFont  "Custom monospace font" "JetBrains Mono"
==/UserStyle== */

$desaturatedGray = #7F85A3
$darkBlue = #82AAFF
$skyBlue = #56C9FF
$cyan = #86E1FC
$red = #FF757F
$darkRed = #FF5370
$lightRed = #FF98A4
$yellow = #FFC777
$orange = #FF966C
$darkOrange =#FC7B7B
$teal =#4FD6BE
$green =#C3E88D
$purple =#C597F9
$pink =#F7A4EC
$indigo =#7A88CF
$brightCyan =#B4F9F8
$white = #FFF
$gray1 = #131421
$gray2 = #191A2A
$gray3 = #1E2030
$gray4 = #222436
$gray5 = #2F334D
$gray6 = #4D5482
$gray7 = #828BB8
$gray8 = #A9B8E8
$gray9 = #B4C2F0
$fg = #C8D3F5

bg(c)
  background-color c
fg(c)
  color c
bc(c)
  border-color c

@-moz-document domain("persuit.purescript.org")
  body
    font-family sans-serif
    color $gray9
    background-color $gray4

  :target
    background-color $gray4

  ::selection
    color $white
    background-color $teal

  table, td
    border-color $gray2

  hr { bg: rgba($gray1, 10%) }

  a, a:visited
    &:hover { fg: lighten($darkBlue, 1.28%) }
    &, &:hover > code { fg: $darkBlue }

  .decl__body
    .keyword, .syntax { fg: $purple }
    .message.message--not-available
      border-color $darkRed
      color $white
      background-color $darkRed
    .top-banner
      &__actions__item a:hover, &__logo:hover { fg: $darkBlue }
      background-color $gray3
    .footer
      background-color $gray3
      p { fg: lighten($gray6, 5%) }
      .deplink__version
        font-weight 500
        color $darkOrange
      .page-title__label { fg: $gray8 }
      .grouped-list
        border-top basis(0.125) solid $gray1
        &__title
          font-weight 400
          color $gray8

  .result__signature
    padding 0.5rem
    border 1 solid $gray2
    background-color $gray3

  ul
    color $gray9
    list-style-type disc
    li
      padding-left 0
      &::before
        content ""

  #search-input, select#hident2 { bg: $gray2 }
  #search-input
    color $fg
    &::placeholder { fg: $gray6 }

  select#hident2
    padding 0.3rem
    border none
    outline none

  .badge.badge--
    &package { bg: $pink }
    &module { bg: $darkOrange }

  code,pre
    :target & { bg: $gray2 }
    background-color $gray3
    color $gray8
    font-weight 500
    font-family $monospaceFont, monospace

  .ctor { fg: $yellow }

  .decl__
    &anchor
      &, &:visited { fg: $gray8 }
      &:hover { fg: lighten($darkBlue, 1.28%) }
    &signature, :target &signature
      padding 8rem
      font-weight 500
      border 1 solid $gray1
      background-color $gray2

  .markdown-body
    blockquote
      border-color $gray2
      color $gray8

    .pl-
      &k { fg: $purple }
      &c1 { fg: $orange }
      &en { fg: $yellow }
      &s { fg: $green }
      &ent { fg: $red }
      &smi { fg: $gray9 }