monospaceFont = "JetBrains Mono"
desaturatedGray = #7f85a3
darkBlue = #82aaff
skyBlue = #56c9ff
cyan = #86e1fc
red = #ff757f
darkRed = #ff5370
lightRed = #ff98a4
yellow = #ffc777
orange = #ff966c
darkOrange =#fc7b7b
teal =#4fd6be
green =#c3e88d
purple =#c597f9
ink =#f7a4ec
indigo =#7a88cf
brightCyan =#b4f9f8
gray1 = #131421
gray2 = #191a2a
gray3 = #1e2030
gray4 = #222436
gray5 = #2f334d
gray6 = #4d5482
gray7 = #828bb8
gray8 = #a9b8e8
gray9 = #b4c2f0
fg = #c8d3f5

body
  background-color gray4
  color gray9
  font-family sans-serif

:target
  background-color gray4

::selection
  background-color teal
  color white

table, td
  border-color gray2

hr
  background-color rgba(gray1, 10%)

a, a:visited
  &:hover
    color lighten(darkBlue, 1.28%)
  &, &:hover > code
    color darkBlue

.decl__body
    .keyword, .syntax
      color purple
    .message.message--not-available
      border-color darkRed
      background-color darkRed
      color white
    .top-banner
      background-color gray3
      &__actions__item a:hover, &__logo:hover
        color darkBlue
    .footer
      background-color gray3
      p
        color lighten(gray6, 5%)
      .deplink__version
        color $darkOrange
        font-weight 500
      .page-title__label
        color $gray-8
      .grouped-list
        border-top 1px solid gray1
        &__title
          color gray8
          font-weight 400


.result__signature
  background-color gray3;
  border 1px solid gray2;
  padding 0.5rem;

ul
  list-style-type disc
  color gray9
  li
    padding-left 0
    &::before
      content ""

#search-input, select#hident2
  background-color gray2

#search-input
  color fg
  &::placeholder
    color gray6

select#hident2
  border none
  outline none
  padding 0.3rem


.badge.badge--
  &package
    background-color pink
  &module
    background-color darkOrange

code,pre
  :target &
    background-color gray2
  background-color gray3
  color gray8
  font-weight 500
  font-family monospaceFont, monospace

.ctor
  color yellow

tokens = {
  k: purple,
  c1: orange,
  en: yellow,
  s: green,
  ent: red,
  smi: gray9
}

.decl__
  &anchor
    &, &:visited
      color gray8
    &:hover
      color lighten(darkBlue, 1.28%)
  &signature, :target &signature
    border 1px solid gray1
    font-weight 500
    background-color gray2
    padding 0.8rem
.markdown-body
  blockquote
    color gray8
    border-color gray2
  .pl-
    for name, value in tokens
      &{name}
        color value
