@import "colors"
@import "list"

body
  background-color $gray-4
  color $gray-9
  font-family sans-serif

:target
  background-color $gray-4

::selection
  background-color $teal
  color white

table, td
  border-color $gray-2

hr
  background-color rgba($gray-1, 10%)

a, a:visited
  &:hover
    color lighten($dark-blue, 1.28%)
  &, &:hover > code
    color $dark-blue

.decl__body
    .keyword, .syntax
      color $purple
    .message.message--not-available
      border-color $dark-red
      background-color $dark-red
      color white
    .top-banner
      background-color $gray-3
      &__actions__item a:hover, &__logo:hover
        color $dark-blue
    .footer
      background-color $gray-3
      p
        color lighten($gray-6, 5%)
      .deplink__version
        color $dark-orange
        font-weight 500
      .page-title__label
        color $gray-8
      .grouped-list
        border-top 1px solid $gray-1
        &__title
          color $gray-8
          font-weight 400
